nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid 
        a.navbar-brand(href="/dashboard")
            img(src="/icon.svg", style="max-width:32px") 
            | μ-RFID
        a(href="/auth/logout") Logout
