mixin navbar()
    nav.navbar.navbar-expand-lg.bg-body-tertiary
        .container-fluid 
            a.navbar-brand(href="/dashboard")
                img(src="/icon.svg", style="max-width:32px") 
                | μ-RFID
            div
                a.btn.btn-info(href="/notifications")=`Notificações ${notificationCount}`
                span &nbsp;
                a.btn.btn-dark(href="/auth/logout") Logout
