extends layout/default.pug
include components/nav.pug
include components/form-mixins.pug

block content
    +navbar()
    section.pt-5.w-75.mx-auto
        form(action="/projects" + (callback ? `?callback=${callback}` : ''), method="post") 
            h2 Criar um projeto
            +input("project_name", null, "Nome do projeto")
            .mb-3
                input.btn.btn-success(type="submit", value="Enviar")