extends layout/default.pug
include components/nav.pug
include components/list-mixins.pug

block content
    +navbar()
    section.pt-5.w-75.mx-auto
        h2 Projetos
        .row
            each prj in projects
                +projectItem(prj)
        h2 Usuários
        .row
            each user in users 
                +userItem(user)
            