doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        h2 Login no sistema
        form(action="/auth", method="post")
            div
                label(for="email") E-mail
                input#email(type="email", name="email")
            div
                label(for="password") Senha
                input#password(type="password", name="password")
            div
                input(type="submit", value="Enviar")
