extends layout/default.pug
include components/form-mixins.pug

block content
    section.pt-5.w-25.mx-auto
        h2 Alterar a senha
        form(action="/auth/password", method="post")
            +password("oldPassword", null, "Senha antiga")
            +password("newPassword", null, "Nova senha")
            +password("newPasswordCheck", null, "Nova senha")
            div.mb-3
                input.btn.btn-success(type="submit", value="Enviar")